{% from "_macros.html" import money %}
{% for item in items %}
  {% include "partials/lot_card.html" %}
{% endfor %}
{% if next_cursor %}
  <div
    hx-get="/?cursor={{ next_cursor }}{% if next_cursor_score is not none %}&cursor_score={{ next_cursor_score }}{% endif %}{% if filters.province %}{% for p in filters.province %}&province={{ p }}{% endfor %}{% endif %}&min_score={{ filters.min_score }}&min_rarity={{ filters.min_rarity }}&exclude_not_interested={{ filters.exclude_not_interested|lower }}"
    hx-trigger="revealed"
    hx-swap="afterend"
  ></div>
{% endif %}
